# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
pip-wheel-metadata/
.eggs/
build/
dist/

# Environments
.venv/
venv/
env/
ENV/
.venv*/
.python-version

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Logs
*.log

# App data
tasks.json
.flet/